@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">21 dias</h1>
    <h3>torne-se um programador</h3>
    <p>
        Aplicação feita com alunos do desafio 21 dias  para mais acesse <a href="http://torneseumprogramador.com.br/">http://torneseumprogramador.com.br/</a>
    </p>
</div>
